*{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Cinzel',serif;
    scroll-behavior: smooth;
}

@media screen and (max-width: 600px){
    #sec_1{
            background-size: center !important;
            height: 70vh !important;
            }
            #contenedor_img1-2_sec1{
                display: none;
            }
            #mapa{
                width: 100% !important;
            }
        }

        @media screen and (min-width: 980px){
            #info{
                
            }
        }

header{
    height: 80px;
    background: white;
    z-index: 10000;
    box-shadow: 0px 0px 5px 0px black;
    }
    #contenedorlistamenu a{
        color: gray;
        }
        #contenedorlistamenu a:hover{
            color: rgb(240, 171, 51);
            }
      
#sec_1{
    height: 100vh;
    position: relative;
    top: 50px;
    }  
    #img1_sec1{
            background: url('/img/img1_sec1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            }    
            #img2_sec1{
                background: url('/img/prod3.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                }
                #img3_sec1{
                    background: url('/img/img3_sec1.jpg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    }

    #consec_1{
        width: 30%;
        position:absolute;
        top: 300px;
        right: 150px;
        color: black;
        }
#fondo{
    background: url('/img/fondo.jpg');
    background-size: center;
}


#sec_2{
        background-color: transparent;
        position: relative;
        }
        #sec_2 .card{
            border: 1px solid rgb(240, 171, 51);
        }

#sec_3{
    background-color: rgba(231, 230, 230, 0.192);
    overflow: hidden;
    position: relative;
    }
 



#sec_4{
    background-color: white;
    position: relative;
    }
    #sec_4 input ,textarea{
                    border: 1px solid rgb(240, 171, 51);
                    }
                    #sec_4 textarea{
                            border: 1px solid rgb(240, 171, 51);
                            }

    #sec_4 input[type="submit"]{
                                background-color: rgb(240, 171, 51);
                                 }
                                #sec_4 input[type="submit"]:hover{
                                    background-color: white;
                                    border: 0.5px solid rgb(240, 171, 51);
                                }

#footer{
        background-color: white;
        }
        #redes{
            background-color:transparent;
        }
        #redes ul li{
                list-style: none;
                }
                .derechos{
                        color: white;
                        background: black;
                        }
    
